.container
  .jumbotron
    %ul.nav.nav-tabs(style='margin-bottom: 20px;')
      %li.text-center{class: ('active' if !user_signed_in? or opinion.agreed_by? current_user), style: 'width: 50%' }
        %a(href="#agree" role="tab" data-toggle="tab")
          %strong 찬성 의견(#{opinion.comments.agreed.count})
      %li.text-center{class: ('active' if user_signed_in? and opinion.disagreed_by? current_user), style: 'width: 50%' }
        %a(href="#disagree" role="tab" data-toggle="tab")
          %strong 반대 의견(#{opinion.comments.disagreed.count})
    .tab-content
      .tab-pane#agree{class: ('active' if !user_signed_in? or opinion.agreed_by? current_user) }
        - if user_signed_in? and opinion.agreed_by? current_user
          %div(style='padding: 20px 0;')
            - if user_signed_in? and opinion.agreed_by? current_user
              = form_for [opinion, Comment.new] do |f|
                .form-group
                  %p.help-block 의견을 남겨주세요
                  = f.text_area :body, class: 'form-control'
                .form-group
                  = f.submit '저장', class: 'btn btn-primary btn-block'
        - if user_signed_in? and !opinion.voted_by? current_user
          .well
            %i.fa.fa-info-circle
            투표 후에 의견을 남길 수 있습니다.
        - unless user_signed_in?
          .well
            %i.fa.fa-info-circle
            의견을 남기시려면 #{content_tag(:a, "로그인", href: '/users/sign_in')}하세요
        = render opinion.comments.agreed.recent
      .tab-pane#disagree{class: ('active' if user_signed_in? and opinion.disagreed_by? current_user) }
        - if user_signed_in? and opinion.disagreed_by? current_user
          %div(style='padding: 20px 0;')
            - if user_signed_in? and opinion.disagreed_by? current_user
              = form_for [opinion, Comment.new] do |f|
                .form-group
                  %p.help-block 의견을 남겨주세요
                  = f.text_area :body, class: 'form-control'
                .form-group
                  = f.submit '저장', class: 'btn btn-primary btn-block'
        - if user_signed_in? and !opinion.voted_by? current_user
          .well
            %i.fa.fa-info-circle
            투표 후에 의견을 남길 수 있습니다.
        - unless user_signed_in?
          .well
            %i.fa.fa-info-circle
            의견을 남기시려면 로그인하세요
        = render opinion.comments.disagreed.recent
