- current_params = params.except(:v, :action, :controller)
.container
  .jumbotron
    %ul.nav.nav-tabs
      %li.text-center{class: ('active' if params[:v] == 'agree'), style: 'width: 50%' }
        = link_to url_for(current_params.merge(v: :agree)) do
          %strong 찬성 의견(#{opinion.comments.agreed.count})
      %li.text-center{class: ('active' if params[:v] == 'disagree'), style: 'width: 50%' }
        = link_to url_for(current_params.merge(v: :disagree)) do
          %strong 반대 의견(#{opinion.comments.disagreed.count})
    .tab-content
      .tab-pane#agree{class: ('active' if params[:v] == 'agree') }
        - if agreed? opinion
          %div(style='padding: 20px 0;')
            = render 'comments/form', opinion: opinion
        - else
          .well
            %i.fa.fa-info-circle
            투표 후에 의견을 남길 수 있습니다.
        - comments = opinion.comments.agreed.recent.page(params[:page])
        = render comments
        .text-center
          = paginate comments, theme: 'twitter-bootstrap-3'
      .tab-pane#disagree{class: ('active' if params[:v] == 'disagree') }
        - if disagreed? opinion
          %div(style='padding: 20px 0;')
            = render 'comments/form', opinion: opinion
        - else
          .well
            %i.fa.fa-info-circle
            투표 후에 의견을 남길 수 있습니다.
        - comments = opinion.comments.disagreed.recent.page(params[:page])
        = render comments
        .text-center
          = paginate comments, theme: 'twitter-bootstrap-3'
