.opinion-header[opinion]
  .container
    .jumbotron
      .pull-right
        = link_to '삭제', opinion, method: :delete, data: { confirm: '삭제하시겠습니까?'}
      %h2.text-center
        = link_to opinion do
          “#{opinion.title}”
      .votes.text-center{  style:'margin: 40px 0' }
        %p
          %strong= opinion.votes.count
          명이 투표했습니다.
        - if user_signed_in?
          = link_to opinion_votes_path(opinion, vote: {choice: :agree}), method: :post, class: 'btn btn-info btn-lg', style: 'min-width: 100px;' do
            %i.fa.fa-thumbs-up
            고할까요?
            %br
            %strong= opinion.votes.agreed.count
          = link_to opinion_votes_path(opinion, vote: {choice: :disagree}), method: :post, class: 'btn btn-danger btn-lg', style: 'min-width: 100px;' do
            %i.fa.fa-ban
            스톱할까요?
            %br
            %strong= opinion.votes.disagreed.count
        - else
          = link_to new_user_session_path, method: :post, class: 'btn btn-info btn-lg', style: 'min-width: 100px;' do
            %i.fa.fa-thumbs-up
            고할까요?
            %br
            %strong= opinion.votes.agreed.count
          = link_to new_user_session_path, method: :post, class: 'btn btn-danger btn-lg', style: 'min-width: 100px;' do
            %i.fa.fa-ban
            스톱할까요?
            %br
            %strong= opinion.votes.disagreed.count
      - unless @opinion
        .btns
          = link_to "#{opinion.comments.count}개의 의견 보기", opinion, class: 'btn btn-block btn-primary'