- if user_signed_in?
  = link_to '로그아웃', destroy_user_session_path, method: :delete
- else
  = link_to '로그인', new_user_session_path

- @opinions.each do |opinion|
  %hr
  = link_to opinion.title, opinion
  - if user_signed_in?
    = link_to opinion_votes_path(opinion, vote: {choice: :agree}), method: :post do
      %i.fa.fa-caret-up.fa-2x
    = opinion.votes.agreed.count
    = link_to opinion_votes_path(opinion, vote: {choice: :disagree}), method: :post do
      %i.fa.fa-caret-down.fa-2x
    = opinion.votes.disagreed.count
  - else
    %i.fa.fa-caret-up.fa-2x
    = opinion.votes.agreed.count
    %i.fa.fa-caret-down.fa-2x
    = opinion.votes.disagreed.count
